<div id="footer">
    <div class="footer_box">
        <p class="p1">
            <span>友情链接:	</span>
            <a href="#">淘宝开发平台</a>
            <a href="#">支付宝UED</a>
            <a href="#">ChinaUI.com</a>
            <a href="#">蓝色理想</a>
        </p>
        <p class="p2">
            Copyright © 1999-2012, CSDN.NET, All Rights Reserved
        </p>
    </div>
</div>
</body>
</html>