<%include header.ejs%>
  <div id="banner">
    <img src="/images/banner.png" alt="">
  </div>
  <div id="content" class="clear">
    <div class="c_low low_l">
      <div class="i_box">
        <div class="u_info">
          <div class="au_box">
            <img src="/images/avatar.jpg" alt="">
          </div>
					<span class="name">
						SOWDF
					</span>
        </div>
        <div class="pic_box">
          <img src="/images/p1.png" alt="">
        </div>
        <dl class="a_view clear">
          <dt><a href="#">谈谈 jQuery 中的防冲突（noConflict）机制</a></dt>
          <dd class="time">2013/08/07</dd>
          <dd class="cmt">
            <i></i><span>14</span>
          </dd>
          <dd class="like">
            <i></i><span>12</span>
          </dd>
        </dl>
      </div>
      <div class="i_box">
        <div class="u_info">
          <div class="au_box">
            <img src="/images/avatar.jpg" alt="">
          </div>
					<span class="name">
						SOWDF
					</span>
        </div>
        <div class="pic_box">
          <img src="/images/p3.png" alt="">
        </div>
        <dl class="a_view clear">
          <dt><a href="#">谈谈 jQuery 中的防冲突（noConflict）机制</a></dt>
          <dd class="time">2013/08/07</dd>
          <dd class="cmt">
            <i></i><span>14</span>
          </dd>
          <dd class="like">
            <i></i><span>12</span>
          </dd>
        </dl>
      </div>
      <div class="i_box">
        <div class="u_info">
          <div class="au_box">
            <img src="/images/avatar.jpg" alt="">
          </div>
					<span class="name">
						SOWDF
					</span>
        </div>
        <div class="pic_box">
          <img src="/images/p5.png" alt="">
        </div>
        <dl class="a_view clear">
          <dt><a href="#">谈谈 jQuery 中的防冲突（noConflict）机制</a></dt>
          <dd class="time">2013/08/07</dd>
          <dd class="cmt">
            <i></i><span>14</span>
          </dd>
          <dd class="like">
            <i></i><span>12</span>
          </dd>
        </dl>
      </div>
    </div>
    <div class="c_time low_l">
      &nbsp;
    </div>
    <div class="c_low low_r">
      <div class="i_box">
        <div class="u_info">
          <div class="au_box">
            <img src="/images/avatar.jpg" alt="">
          </div>
					<span class="name">
						SOWDF
					</span>
        </div>
        <div class="pic_box">
          <img src="/images/p2.png" alt="">
        </div>
        <dl class="a_view clear">
          <dt><a href="#">谈谈 jQuery 中的防冲突（noConflict）机制</a></dt>
          <dd class="time">2013/08/07</dd>
          <dd class="cmt">
            <i></i><span>14</span>
          </dd>
          <dd class="like">
            <i></i><span>12</span>
          </dd>
        </dl>
      </div>
      <div class="i_box">
        <div class="u_info">
          <div class="au_box">
            <img src="/images/avatar.jpg" alt="">
          </div>
					<span class="name">
						SOWDF
					</span>
        </div>
        <div class="pic_box">
          <img src="/images/p4.png" alt="">
        </div>
        <dl class="a_view clear">
          <dt><a href="#">谈谈 jQuery 中的防冲突（noConflict）机制</a></dt>
          <dd class="time">2013/08/07</dd>
          <dd class="cmt">
            <i></i><span>14</span>
          </dd>
          <dd class="like">
            <i></i><span>12</span>
          </dd>
        </dl>
      </div>
      <div class="i_box">
        <div class="u_info">
          <div class="au_box">
            <img src="/images/avatar.jpg" alt="">
          </div>
					<span class="name">
						SOWDF
					</span>
        </div>
        <div class="pic_box">
          <img src="/images/p6.png" alt="">
        </div>
        <dl class="a_view clear">
          <dt><a href="#">谈谈 jQuery 中的防冲突（noConflict）机制</a></dt>
          <dd class="time">2013/08/07</dd>
          <dd class="cmt">
            <i></i><span>14</span>
          </dd>
          <dd class="like">
            <i></i><span>12</span>
          </dd>
        </dl>
      </div>
    </div>

  </div>
  <a class="look_more" href="#">
    查看更多
  </a>
<%include footer.ejs%>
