<%include header.ejs%>
<div class="m_content">
    <div class="m_arttop clear">
        <div class="title fl">
            <h3>谈谈 jQuery 中的防冲突（noConflict）机制</h3>
            <div class="tag">
                <span class="fl">原创作品</span>
                <p>分类：<a href="#">程序开发</a></p>
            </div>
            <div class="handle">
                <ul class="clear">
                    <li><i class="watch"></i>1653</li>
                    <li><i class="clt"></i>352</li>
                    <li><i class="rated"></i>333</li>
                </ul>
            </div>
        </div>
        <div class="author clear fr">
            <div class="fl avatar">
                <img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1720620006,1140887170&fm=116&gp=0.jpg" alt=""/>
            </div>
            <div class="aut_info fr">
                <span class="name">Sowdf</span>
                <span class="zy">厦门/前端设计师</span>
                <span class="date">2016-04-14 发布</span>
            </div>
        </div>
    </div>
    <div class="m_arctical">
        <img src="/images/arctical.png" alt=""/>
    </div>
    <div class="m_artbottom">
        <a href="#" class="clt"><i></i>收藏</a>
        <a href="#" class="zan"><i></i>1888</a>
        <a href="#" class="share"><i></i>分享</a>
    </div>
</div>
<div class="m_comment">
    <div class="title">
        评论:(332)
    </div>
    <div class="into">
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <div>
            还可以输入 <span>1000</span> 个字符 <input type="button" value="评论"/>
        </div>
    </div>
    <ul>
        <li>
            <div class="avatar">
                <img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2632091352,3543396537&fm=116&gp=0.jpg" alt=""/>
            </div>
            <div class="info">
                <div class="name">
                    <span>俩碧霄</span> <i>17小时前：</i> <em>3F</em>
                </div>
                <p>写得非常好！</p>
                <div class="handle">
                    <a href="@">回复</a><span>(1)</span>|<a href="#">赞同</a><span>(1)</span>
                </div>
            </div>
        </li>
        <li>
            <div class="avatar">
                <img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2632091352,3543396537&fm=116&gp=0.jpg" alt=""/>
            </div>
            <div class="info">
                <div class="name">
                    <span>俩碧霄</span> <i>17小时前：</i> <em>3F</em>
                </div>
                <p>写得非常好！</p>
                <div class="handle">
                    <a href="@">回复</a><span>(1)</span>|<a href="#">赞同</a><span>(1)</span>
                </div>
            </div>
        </li>
        <li>
            <div class="avatar">
                <img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=2632091352,3543396537&fm=116&gp=0.jpg" alt=""/>
            </div>
            <div class="info">
                <div class="name">
                    <span>俩碧霄</span> <i>17小时前：</i> <em>3F</em>
                </div>
                <p>写得非常好！</p>
                <div class="handle">
                    <a href="@">回复</a><span>(1)</span>|<a href="#">赞同</a><span>(1)</span>
                </div>
            </div>
        </li>
    </ul>
    <div class="loading">
        向下滚动查看更多
    </div>
</div>
<%include footer.ejs%>