/* reset */
body, h1, h2, h3, h4, h5, p, dl, dd, ul, ol, form, input, textarea, th, td, select {
  margin: 0;
  padding: 0;
}

em {
  font-style: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  border: none;
  vertical-align: top;
}

table {
  border-collapse: collapse;
}

input, textarea {
  outline: none;
}

textarea {
  resize: none;
  overflow: auto;
}

body {
  font-size: 12px;
  font-family: "Microsoft Yahei";
}

.clear {
  zoom: 1;
}

.clear:after {
  clear: both;
  content: "";
  display: block;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* end reset */
